spring:
  datasource:
    url: jdbc:mysql://localhost:3306/acta?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: your_username
    password: your_password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.zoho.com
    port: 587
    username: 본인_zoho_이메일주소
    password: 본인_zoho_비밀번호_또는_앱비밀번호
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          from: 본인_zoho_이메일주소

  jwt:
    secret: token
    access-token-expiration: 3600000